/* This document offers additional styling for the editor interface. */

textarea {
	font-size:13px;
}


#uac::backdrop {
	background-color:black;
	opacity:0.9;
}
#uac button {
	height:35px;
}
.tabcontent button {
	height:100%;
}