/* This document offers additional styling for the editor interface. */
button {
	height:100%;
	background-color:white;
	color:black;
	transition:background-color 0.3s;
    font-size:13px;
	/* Vendor prefixes are so annoying. I need FIVE OF THEM! FIVE! */
	user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
button:hover {
	background-color:#00ffff;
}
h1,p { font-family: "Times New Roman"; }
